@import "variables";

.main {
    background-color: $post;
}

.d-flex{
    display: flex;
}

.f-column {
    flex-flow: column nowrap;
}

.f-center {
    align-items: center;
}

.reply {
    background-color: $post-darker;
    padding: 2px;
    border-bottom: 1px $border-color solid;
    border-right: 1px $border-color solid;
}

.highlight {
    background-color: $highlight;
}

.post {
    padding: 2px;
    margin: 4px;
}

.sidearrows {
    margin: 4px 2px;
}

.backlink-container {
    color: #34345C !important;
    font-size: 0.8em !important;
    >.backlink {
        text-decoration: underline;
        cursor: pointer;
    }
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: nowrap;
}

.content-container {
    margin: 13.3px 2.5rem;
}

.title {
    color: $title-color;
    font-weight: bold;
}

.author {
    color: $anonymous-color;
    font-weight: bold;
}

.children {
    color: $backlink;
    font-size: 10.33px;
}

.quotelink {
    color: red;
    text-decoration: underline;
}

.thread-border {
    border-bottom: $border-color solid 1px;
    width: calc(100% - 1em);
    align-self: center;
}

.top-bar {
    .content {
        padding: .5em;
    }
}
