$highlight : #d5bacf;
$post : #eef2ff;
$post-darker : #d6daef;

$backlink : #35355b;
$url : #34345c;
$title-color: #12105c;
$anonymous-color : #1d7645;

$border-color : #b7c5d9;
$border-color-highlight : #ba9dbf;

$greentext : #789922;

$label : #98e;